.featured {
  padding: 70px 8%;
  background: #fff;
}

.featured h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
  color: #111827;
}

.category-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}